* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.product {
  border: 4px solid #000;
  width: 825px;
  margin: 40px auto;
  position: relative;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.product-sale {
  position: absolute;
  top: -15px;
  left: -36px;
  background-color: #ec2f2f;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 5px;
  text-align: center;
}

h3,
.product-title,
.item-price,
.free-shipping,
.add-cart {
  font-weight: bold;
  text-transform: uppercase;
}

.product-title,
.item-price,
.add-cart {
  font-size: 20px;
}

.product-title {
  padding: 20px;
  grid-column: 1/-1;
}

.product-title {
  text-align: center;
  background-color: #f4f4f4;
}

.item-price {
  /* float: left; */
}

.details-title {
  margin-bottom: 15px;
  /* margin-top: 30px; */
}

.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}

a:hover,
a:active {
  text-decoration: none;
}

/* .colored-squares-list {
  list-style: none;
} */

.colors-box {
  display: flex;
  /* justify-content: space-between; */
  /* margin-right: 60px; */
  gap: 10px;
}

/* .colored-squares-list li {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
  margin-right: 10px;
} */

.colors-box div {
  background-color: black;
  flex-basis: 20px;
  height: 20px;
}

.colors-box div:nth-child(2) {
  background-color: #2f6ee2;
}

.colors-box div:nth-child(3) {
  background-color: #ec2f2f;
}

.colors-box div:nth-child(4) {
  background-color: #f0bf1e;
}

.colors-box div:nth-child(5) {
  background-color: #90cc20;
}

.colors-box div:last-child {
  background-color: #885214;
}

.details-list {
  list-style: square;
  margin: 0 0 20px 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* Claasses */

.free-shipping {
  color: lightslategray;
  font-size: 12px;
  /* margin-top: 5px; */
}

.add-cart {
  background-color: black;
  color: white;
  font-weight: normal;
  border: none;
  width: 100%;
  padding: 10px 0;
  border-top: 4px solid black;
  grid-column: 1/-1;
}

.add-cart:hover {
  background-color: #fffefe;
  color: black;
  cursor: pointer;
}

.product-image {
  width: 250px;
  height: 250px;

  /* flex-basis: 250px;
  display: block;
  height: 250px; */
}

.product-info {
  flex: 1;
  margin-top: 20px;
}

.product-details {
  flex: 1;
  /* float: left;
  width: 243.5px; */
  /* flex-basis: 243.5px; */
  margin-top: 20px;
}

.item-description {
  margin-bottom: 10px;
}

.product-box {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 40px;
}

.price-shipping-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
